/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
h1{

}

h2{
    padding: 5px 3px 3px 5px;
    font-size: 1.5em;
    font-family: "Museo Sans 900", helvetica, sans-serif;
    margin-top: 3px;
    background-color: #9D9D9E;
    color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
}

p{
    padding: 2px 5px 2px 9px;
    background-color: #FFFFFF;
    margin: 5px 2px 5px 2px;
}

.month{
    margin: 10px -8px 10px -8px;
    height: 416px;
    background-color: #D4D5D6;
    border-radius: 10px 10px 10px 10px;
    
}

.checkbox{
    margin-left: 10px;
}

.deadline{
    color: #B2120E;
    font-weight: bold;
}

.glyphicon-exclamation-sign {
    color: #4287A7;
}

.spring p{
    border-left: solid 6px #62B447;
    cursor: pointer;
}

.fall p{
    border-left: solid 6px #D18229;
    cursor: pointer;
}

.summer p{
    border-left: solid 6px #D5BA2A; 
    cursor: pointer;
}

.generalDev p{
    border-left: solid 6px #4287A7;
    cursor: pointer;
}

.cycleStart {
    font-weight: bold;
    font-size: 1.1em;
    cursor: default;
}

/*.splitLeft{
    width: 0;
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 	
    border-left: 10px solid #9D9D9E;
    position: absolute;
    right: 99%;
}

.splitRight{
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 	
    border-right: 10px solid #9D9D9E;
    position: absolute;
    left: 99%;
}

.splitLine{
    width: 100%;
    height: 4px;
    background-color: #9D9D9E;
    position: absolute;
    top: 8px;
}
*/

hr{
    border: none;
    height: 2px;
    background-color: #9D9D9E;
    margin: 0px;
    
}

.splitter{
    position: relative;
    width: 96%;
    height:18px;
    left: 2%;
    right: 2%;
}

.splitLineText{
    color: #9D9D9E;
    width: 1em;
    padding: 0px 5px;
    white-space: nowrap;
    margin: 0px;
}

/*.splitCell{
    display: table-cell;
    vertical-align: middle;
}



.splitLine{
    height: 2px;
    background-color: #9D9D9E;
    width: 100%;
    margin: 0px 3px 0px 3px;
}*/

#roleSelectHolder {
    padding: 5px 0px 0px 25px;
}

#termSelect {
    
}

#springSelect {
    border-color: #62B447;
    background-color: #83C469;
    width: 6em;
    margin: 5px 0px 0px 5px;
}

#fallSelect {
    border-color: #D18229;
    background-color: #E0B238;
    width: 6em;
    margin: 5px 0px 0px 5px;
}

#summerSelect {
    border-color: #D5BA2A;
    background-color: #E5D268;
    width: 6em;
    margin: 5px 0px 0px 5px;
}

#allSelect {
    border-color: #4287A7;
    background-color: #77A6D0;
    width: 6em;
    margin: 5px 0px 0px 5px;
}

#devNotes{
    padding-top: 5px;
}

/*
empty classes for JS
*/

.spring {
    
}

.fall {
    
}

.summer {
    
}

.months {
    
}

.idTask {
    
}

.tasks{
    
}

.itTask {
    
}

.pmTask {
    
}

.mediaTask {
    
}

/* 
    Created on : Jan 28, 2015, 3:28:39 PM
    Author     : moses.wolfenstein
*/